body{
  background-image: url(https://cdn.pixabay.com/photo/2019/05/27/14/41/background-4232859_960_720.png);
  font-size: 30px;
  margin-left: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 10px;
}

form>input{
  font-size: 27px;
  margin: 5px;
}

button{
  font-size: 22px;
  padding: 10px;
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
}

button:hover{
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
}

button:active{
  background-color: rgb(1, 103, 103);
}

form>label{
  margin: 5px;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

form{
  background-color: teal;
  max-width: max-content;
  padding: 8px;
  border: 3px solid rgba(4, 225, 200, 0.6);
  border-radius: 15px;
}

h2{
  background-color: teal;
  max-width: max-content;
  color: white;
  padding: 15px;
  border: 2px solid rgba(4, 225, 200, 0.6);
  border-radius: 10px;
  font-family: monospace;
  margin: 10px 0px 5px 2px;
}
/* for Mobile Screen */
@media screen and (max-width: 425px) { 
  body{
    margin: 0px;
    font-size: 17px;
  }
  
  form{
    font-size: 17px;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    width: max-content; 
    margin: 10px 5px 10px 5px;
    padding: 2px;
    padding: 10px;
  }
  input{
    display: inline;
    font-size: 17px;
  }
  label{
    font-size: 17px;
   display: inline; 
  }
} 
